h1 {padding-left:0px;}
h2 {padding-left:10px;}
h3 {padding-left:20px;}
h4 {padding-left:30px;}
h5 {padding-left:40px;}
h6 {padding-left:50px;}
p.h1 {padding-left:10px;}
p.h2 {padding-left:20px;}
p.h3 {padding-left:30px;}
p.h4 {padding-left:40px;}
p.h5 {padding-left:50px;}
p.h6 {padding-left:60px;}
table.h1 {padding-left:10px;}
table.h2 {padding-left:20px;}
table.h3 {padding-left:30px;}
table.h4 {padding-left:40px;}
table.h5 {padding-left:50px;}
table.h6 {padding-left:60px;}
th {text-align:left;
    font-size:14px;}
td {font-size:12px;}
td.title {text-decoration-thickness:10px;}
p.table {font-size:10px;}
